---
import Analytics from '@vercel/analytics/astro'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		
		<title>Go Burn in a Fire</title>
		<meta name="description" content="Burn!" />
		
		<meta property="og:title" content="Go Burn in a Fire" />
		<meta property="og:description" content="Burn!" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Go Burn in a Fire" />
		<meta name="twitter:description" content="Burn!" />
	</head>
	<body>
		<slot />
		<Analytics />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
